{% extends "base.html" %}

{% block title %}
Leadership - KVVSH Group of Companies
{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

{% endblock %}

{% block content %}

<section class="leadership-section">

    <div class="leadership-header">
        <span>KVVSH GROUP</span>
        <h2>Leadership Team</h2>
        <p>
            Visionary leaders driving innovation, global expansion,
            technology and sustainable growth across all KVVSH businesses.
        </p>
    </div>

    <!-- Founder -->
        <div class="founder-row">
            <div class="founder-card">
                <img src="{{ url_for('image', filename='pic.webp') }}">
                <h4>Shakthi K</h4>
                <span>Founder & President</span>
            </div>
        </div>
        <!-- Core Leadership -->

        <div class="core-grid">

            <div class="leader-card">
                <img src="{{ url_for('image', filename='leaders.webp') }}" alt="">
                <h4>Sharan M J</h4>
                <span>Group Chief Executive Officer</span>
            </div>

            <div class="leader-card">
                <img src="{{ url_for('image', filename='leaders.webp') }}" alt="">
                <h4>Kanisthik S</h4>
                <span>Group Chief Operating Officer</span>
            </div>

            <div class="leader-card">
                <img src="{{ url_for('image', filename='leaders.webp') }}" alt="">
                <h4>Dr.Hari Haran V</h4>
                <span>Group Chief Financial Officer</span>
            </div>

            <div class="leader-card">
                <img src="{{ url_for('image', filename='leaders.webp') }}" alt="">
                <h4>Devesh</h4>
                <span>Global Expansion Director</span>
            </div>

            <div class="leader-card">
                <img src="{{ url_for('image', filename='leaders.webp') }}" alt="">
                <h4>Raja Saravana Kumar</h4>
                <span>Chief Technology Officer</span>
            </div>

        </div>

    <!-- DIVISION CEOs -->
    <div class="leadership-category">

        <h3>Business Division CEOs</h3>
        <div class="ceo-grid">

            <div class="leader-card">
                <img src="{{ url_for('image', filename='leaders.webp') }}" alt="">
                <h4>Naveen Prasad S</h4>
                <span>CEO - Entertainment, Media & Digital Platforms</span>
            </div>

            <div class="leader-card">
                <img src="{{ url_for('image', filename='leaders.webp') }}" alt="">
                <h4>Pugazhmani T</h4>
                <span>CEO - Retail & Consumer Products</span>
            </div>

            <div class="leader-card">
                <img src="{{ url_for('image', filename='leaders.webp') }}" alt="">
                <h4>Selvakumar S</h4>
                <span>CEO - Education & Healthcare</span>
            </div>

            <div class="leader-card">
                <img src="{{ url_for('image', filename='leaders.webp') }}" alt="">
                <h4>Prasanna Raj G</h4>
                <span>CEO - Technology & Electronics</span>
            </div>

            <div class="leader-card">
                <img src="{{ url_for('image', filename='leaders.webp') }}" alt="">
                <h4>Nikhil B</h4>
                <span>CEO - Infrastructure & Hospitality</span>
            </div>

            <div class="leader-card">
                <img src="{{ url_for('image', filename='leaders.webp') }}" alt="">
                <h4>Sakthi Velan M</h4>
                <span>CEO - Industrial & Manufacturing</span>
            </div>

            <div class="leader-card">
                <img src="{{ url_for('image', filename='leaders.webp') }}" alt="">
                <h4>Sandehep S S</h4>
                <span>CEO - Automotive & Mobility</span>
            </div>

            <div class="leader-card">
                <img src="{{ url_for('image', filename='leaders.webp') }}" alt="">
                <h4>Riswant R G</h4>
                <span>CEO - Transportation & Logistics</span>
            </div>

            <div class="leader-card">
                <img src="{{ url_for('image', filename='leaders.webp') }}" alt="">
                <h4>Naveen Kumar S</h4>
                <span>CEO - Energy, Oil & Gas</span>
            </div>

            <div class="leader-card">
                <img src="{{ url_for('image', filename='leaders.webp') }}" alt="">
                <h4>Sanjay M</h4>
                <span>CEO - Finance, Digital Services & Innovation</span>
            </div>

        </div>
</div>

</section>

{% endblock %}
